<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href='./css/styles.css'>
        <h1>About</h1>
    </head>
    <body>
        <dic class="main-content">
             {{>header}}
            This is about page
            <img class="potrait" src="./img/robot.png">
        </dic>
        
        {{>footer}}

    </body>

</html>